<% provide(:title, 'Home') %>

	              

<p class="btn btn-default btn-lg btn-default "><%= link_to "Toys",  '/Toys' %></p>
<p class="btn btn-default btn-lg btn-default "><%= link_to "Art",  '/Art' %></p>
<p class="btn btn-default btn-lg btn-default "><%= link_to "Woodworking",  '/Woodworking' %></p>
<p class="btn btn-default btn-lg btn-default "><%= link_to "Accessories",  '/Accessories' %></p>
<p class="btn btn-default btn-lg btn-default "><%= link_to "Pets",  '/Pets' %></p>