<h1><%=h $title.html_safe %></h1>
<p>$<%= $price.html_safe %></p>
<img src="<%= $bigImage %>" width="50%" />
<% @images.each do |i| %>
<img src="<%= i %>" width="10%">
<%end%>
<p><%= $description.html_safe %></p>
<%= link_to "View on Etsy", $link, :target => "_blank" %>
