<div class="row">
	<div id="desc_left" class="col-md-2">
		<div class="side_col">
			<div class="col-sm-12" id="smll_menu">
			 <p id="test" class="testy">CLICK</p>
			</div>
			<div id="next" class="col-sm-0">
				NEXT
			</div>
			<div id="current" class="col-sm-0">
				<h2><%= $current %></h2>
			</div>
			<div id="categories" class="col-sm-0">
				<div id="catHead">
					Categories
				</div>
				<ul>
					<% @Cats.each do |i| %>
						<li><a href="<%= i %>"> <%= i %></a></li>
					<% end -%>
				</ul>
			</div>
		</div>
	</div>
	<div id="desc_page" class="col-sm-12 col-md-8">	
		<div class="col-xs-12 wht">
			<div class="row">
				<div id="desc_content"  class="col-xs-12">
					<img id="bigimg" src="<%= $bigImageP %>" width="100%"  data-image="1" />
					<div id="imgswitch">
						<div class="left" id="<%= $img_total %>">
						</div>
						<div class="right" id="<%= $img_total %>">
						</div>
					</div>
					<div id="multiimages" class="col-xs-12">	
						<% x = 0 %>
						<% @images.each do |i| %>
							<img src="<%= i %>" width="10%" class="<%= x += 1 %>">
						<%end%>
					</div>
				</div>
				<div class="col-xs-12 ">
					<h1 ><%=h $title.html_safe %></h1>
					<p id="price">$<%= $price %></p>
				</div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title">Description</h3> 
			    </div>
			    <div class="panel-body">
			     <p><%= $description.html_safe %></p>
			    </div>
			</div>
			<div id="view_etsy">
				<%= link_to "View on Etsy", $linky, :target => "_blank" %>
			</div>
		</div>
		
	</div>
	<div id="desc_right" class="col-sm-12 col-md-2">
		<div class="side_col">
			<div class="col-xs-12 front_ad ">	  
				<div class="addImg">				
						<a href="<%= $firstLink %>" target="_blank"><img src="<%= $firstImg %>" border="0" ></a>
				</div>
				<div >
					<p>
						<a href="<%= $firstLink %>" target="_blank"><%= $firstTitle.html_safe %></a>
					</p>
				</div>
			</div>
			<div class="col-xs-12 front_ad">	  
				<div class="addImg">
						<a href="<%= $lastLink %>" target="_blank"><img src="<%= $lastImg %>" border="0" ></a>
				</div>
				<div>
					<p>
						<a href="<%= $lastLink %>" target="_blank"><%= $lastTitle.html_safe %></a>
					</p>
				</div>
			</div>
			<div id="SP" class="col-xs-12">
				<%=  link_to 'Advertise', ads_path %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		
	$("#test").click(function(){
		$("#MTop").attr('class', 'gh-svg menu-top menu-ani-top');
		
	});

	$("#next").click(function(){
		location.reload()
	})
	$('h3').click(function(){
		$('.panel-body').slideToggle()
	})
	
	$('#multiimages').children('img').click(function(){
		current = $(this).attr('class')
		$('#bigimg').attr('src', ($(this).attr('src')))
		$('#bigimg').data('image', current)
	})
	$('.right').click(function(){
		img_total = $(this).attr('id');
		img = $('#bigimg').data('image')
		if(img == img_total){
			img = 1
		}
		else{
			img ++
		}
		
		$('#bigimg').data('image',img)
		$('#bigimg').attr('src', $('.'+img).attr('src'))
	})
	$('.left').click(function(){
		img_total = $(this).attr('id');
		img = $('#bigimg').data('image')
		if(img == 1){
			img = img_total
		}
		else{
			img --
		}
		$('#bigimg').data('image',img)
		$('#bigimg').attr('src', $('.'+img).attr('src'))
	})
</script>